<div class="min-h-svh grid place-items-center bg-zinc-100">
  <div class="login-card w-[92vw] max-w-xl">
    <h1 class="login-title">Iniciar Sesión</h1>

    <form (ngSubmit)="submit()" class="space-y-6">
      <!-- Email -->
      <div>
        <label class="login-label">Correo Electrónico</label>
        <input
          class="login-input"
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="correo@example.com"
          autocomplete="email"
          required
        />
      </div>

      <!-- Password -->
      <div>
        <label class="login-label">Contraseña</label>
        <div class="relative">
          <input
            class="login-input pr-20"
            [type]="showPwd ? 'text' : 'password'"
            name="password"
            [(ngModel)]="password"
            placeholder="**********"
            autocomplete="current-password"
            required
          />
          <button
            type="button"
            class="show-btn"
            (click)="showPwd = !showPwd"
            aria-label="Mostrar/Ocultar contraseña"
          >
            {{ showPwd ? 'Ocultar' : 'Mostrar' }}
          </button>
        </div>
      </div>

      <!-- botón -->
      <div class="flex justify-center">
        <button class="btn btn-peach btn--sm block mx-auto" [disabled]="loading()">
          {{ loading() ? 'Entrando…' : 'Iniciar Sesión' }}
        </button>
      </div>
    </form>
  </div>
</div>
