/* Envoltura general del link */
.menu-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color .15s ease, color .15s ease;

  /* Hover general */
  &:hover {
    background: var(--peach-75);      /* Durazno suave */
    color: var(--accent-600);         /* Texto naranja */

    lucide-angular {
      color: var(--accent-600) !important;
    }
  }
}

/* Activo */
.active-link {
  background: var(--peach-100) !important;
  font-weight: 600;
  color: var(--accent-600) !important;
  position: relative;

  /* Barra naranja a la izquierda */
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    bottom: 6px;
    width: 4px;
    border-radius: 0 4px 4px 0;
    background: var(--accent-600);
  }

  lucide-angular {
    color: var(--accent-600) !important;
  }
}
