.menu-link {
  color: var(--text-900);

  &:hover {
    background: var(--peach-75);

    .icon,
    .label {
      color: var(--brand) !important;
    }
  }
}

.active-link {
  background: var(--peach-100) !important;
  font-weight: 600;
  position: relative;
  color: var(--brand) !important;

  .icon {
    color: var(--brand) !important;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    bottom: 6px;
    width: 4px;
    border-radius: 0 4px 4px 0;
    background: var(--accent-600);
  }
}
