<div class="ui-combobox relative w-full">

  <!-- INPUT -->
  <div class="relative">
    <input
      type="text"
      class="combo-input"
      [ngModel]="search()"
      (ngModelChange)="onInputChange($event)"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (click)="open.set(true)"
    />

    <button class="combo-icon" type="button" (click)="toggle()">
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </button>
  </div>

  <!-- DROPDOWN -->
  <div class="combo-dropdown animate-dropdown" *ngIf="open()">
    <div
      *ngFor="let item of filteredItems"
      (click)="select(item)"
      class="combo-item"
    >
      {{ item.label }}
    </div>

    <div *ngIf="filteredItems.length === 0" class="combo-empty">
      Sin resultados
    </div>
  </div>
</div>
